@page "/convert"

<h2>Konvertera meter till fot</h2>
<label for="meter">Meter:</label>
<input type="number" @bind="meter" />

<button @onclick="CalculateMeter">Räkna om</button>
<br />
<p>Längd i fot är: @foot</p>

<h2>Konvertera km/h till miles/hour</h2>
<label for="kmH">Km/h:</label>
<input type="number" @bind="kmH" />

<button @onclick="CalculateKmH">Räkna om</button>
<br />
<p>Hastigethet i miles/h är : @mph</p>

@code {

    private double foot;
    private double meter;
    private double kmH;
    private double mph;


    private void CalculateMeter()
    {
        foot = meter * 3.28;
        foot = Math.Round(foot, 1);
    }

    private void CalculateKmH() {
        mph = kmH / 1.609344;
        mph = Math.Round(mph);
    }
}