@inherits LayoutComponentBase
<div class="grid">
    <div class="div1">
           <a href="/index">Moment1.2 - Blazor</a>
    </div>
    <div class="div2">
    <header>
        <NavMenu />
    </header>
</div>

<div class="div3">
    <main>
        @Body
    </main>
</div>

<div class="div4">
    <footer>
    <p>Av: Johanna Karlsson </p>
    </footer>
</div>
</div>