    <nav>
        <ul>
            <li>
                <NavLink href="/">Startsida</NavLink>
            </li>
              <li>
                <NavLink href="/games">Mina spel</NavLink>
            </li>
              <li>
                <NavLink href="/convert">Konverterare</NavLink>
            </li>
      
        </ul>
    </nav>